/*datos personales Alicia Fernández Pushkina y UO275727*/

/*especificidad (0,0,1) */
/* body {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

} */

/*especificidad (0,0,1) */
main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* grid-template-rows: repeat(12, 1fr); */
    max-width: 95vw;
    gap: 0;
    width: 70vw;
    min-height: 50vw;
    align-self: center;
}

/*especificidad (0,0,1) */
h3 {
    grid-column: 1 / -1;
    text-align: center;
}


/*especificidad (0,1,1) */
p[data-state="empty"] {
    /*color hereado de body*/
    background-color: black;
}

/*especificidad (0,1,1) */
p[data-state="clicked"] {
    /*color hereado de body*/
    background-color: #DDD;
}

/*especificidad (0,0,1) */
p {
    /* padding: 1em; */
    margin: 0;
    text-align: center;
    border-style: solid;
    border-width: 0.063em;
    display: flex;
    align-items: center;
    justify-content: center;
}

section[data-type=botonera] {
    /* ocultar botonera en pantallas grandes */
    display: none;
}

/* para el formulario */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.36em;
}

form>label {
    padding-top: 0.40em;
}

/* botonera para dispositvos moviles*/
@media all and (max-width: 1024px) {

    section[data-type=botonera] {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    section[data-type=botonera] h3 {
        width: 100%;
        text-align: center;
    }

    section[data-type=botonera] button {
        width: calc(15% - 1em);
        height: 4em;
        text-align: center;
        background-color: #000;
        color: #FFF;
    }

    main {
        /* ajusto el tamaño en pantallas pequeñas*/
        width: 90vw;
        min-height: 90vw;
      }
}

