/*++++++++++++++++++++++++++++++++++
Alicia Fernández Pushkina - UO275727
Descripcion de los estilos
 +++++++++++++++++++++++++++++++++++*/

/*
    Purple
    #53199F
    Aqua
    #B4FEE7
    Violeta o cuaqlueir otro que necesite(todavia no usado)
    #E8DBF9
    ROSITA CLARO PARA PONER FONDOS SUTILES
    #FDC9E1
    Fuchsia
    #DE026D
*/

/*especificidad (0,0,1) */
body {
    font-family: Verdana, Geneva, sans-serif;
    color: black;
    background-color: white;

}

/*especificidad (0,0,1) */
header {
    background-color: #53199F;
    color: #B4FEE7;
}


/*especificidad (0,0,1) */
h2 {
    /*centra el título*/
    text-align: center;
}

/*especificidad (0,0,1) */
h2, h3{
    /* background-color heredado de body*/
    color: #DE026D;
}

/*especificidad (0,0,1) */
table {
    /*borde a la tabla*/
    border-collapse: collapse;
    border-color: #53199F; 

    /* color heredado de body */  
    background-color: #FDC9E1;
    /*redondea el borde*/
    border-radius: 1em;

     /* Ponemos la tabla a un 15% de la pantalla */
     max-width: 15%;
     width: 100%;
  }


/*especificidad (0,0,1) */
ul {
    /*cambia la viñeta de las listas no ordenadas*/
    list-style-type: square;
}


/*especificidad (0,0,1) */
ol {
    /*cambia la viñeta de la lista ordenada*/
    list-style: upper-roman;
}

/*especificidad (0,0,1) */
dt {
    /* background-color heredado de body*/
    color: #53199F; 
    font-weight: bold; 
  }

/*especificidad (0,0,1) */
video {
    /*el video responderá y se escalará automaticamente*/
    max-width: 80%;
}

/*especificidad (0,0,1) */
a {
     /* background-color heredado de body*/
    color: #DE026D;
}

/*especificidad (0,0,2) */
table>thead {
    font-size: large;
}

/*especificidad (0,0,2) */
table>caption {
    font-size: small;
    font-style: italic;

}



/*especificidad (0,0,3) */
header>nav a {
    /* background-color heredado de header*/
    color: #B4FEE7;
}

/*enlace al pasar el ratón por encima*/
/*especificidad (0,1,1)*/
a:hover {
    /*background heredado de body*/
    color: #53199F;
}

/*tercer elemento de la lista no ordenada*/
/*especificidad (0,1,2) */
ul li:nth-child(3)  {
    /*background heredado de body*/
    color: #DE026D;
}

  