/*datos personales Alicia Fernández Pushkina y UO275727*/

/*especificidad (0,0,1) */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}



