/*datos personales Alicia Fernández Pushkina y UO275727*/

/*especificidad (0,0,1) */
header{
    display: flex;
     /*los elemenetos se distribuyen*/
    justify-content: space-between;
    align-items: center;
    
}



