/*datos personales Alicia Fernández Pushkina y UO275727*/


section {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

section > p {
    flex-grow: 1;
    margin-right: 0.625em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    margin-left: 1.4em;
}
