/*datos personales Alicia Fernández Pushkina y UO275727*/

/*especificidad (0,0,1) */
section {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*especificidad (0,0,2) */
section > article {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    border: 0.063em solid #ccc;
    margin-bottom: 1.25em;
    padding: 0.625em;
    /* color heredado de body*/
    background-color: #f9f9f9;
    border-radius: 1.5em; 
    padding-left:2em;
}
/*especificidad (0,0,3) */
section > article > p {
    grid-column: 1;
    align-content: center;
}
/*especificidad (0,0,3) */
section > article > img {
    grid-column: 2;
    /* grid-row-start: 1; */
    /* grid-row-end: 4; */
    place-self: center;
}