/*datos personales Alicia Fernández Pushkina y UO275727*/



/*especificidad (0,0,1) */
main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  width: 50vw;
  min-height: 50vw;
  /* align-self: center; */
}


/*especificidad (0,1,1) */
p[data-state="clicked"] {
  /*color hereado de body*/
  background-color: #DDD;
}




p {
  margin: 0;
  border-style: solid;
  border-width: thin;
  padding: .2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*especificidad (0,1,1) */
p[data-state="blocked"] {
  font-weight: bold;
  background-color: #f2eef8;
}

/*especificidad (0,0,2) */
main > h3 {
  grid-column: 1 / -1;
  text-align: center;
}

/* ----------inicio lineas 3x3 marcadas ------------- */

main  p:nth-child(3n + 4) { 
  border-right: 0.14em solid #000000;
}
/*Especificidad 033, 033, 023*/
main  p:nth-child(n + 20):nth-child(-n + 28), 
main  p:nth-child(n + 47):nth-child(-n + 55),
main  p:nth-last-child(-n + 9) {
  border-bottom: 0.14em solid #000000;
}

/*Especificidad 023*/
main  p:nth-child(9n + 2) { 
  border-left: 0.14em solid #000000;
}
/*Especificidad 023*/
main  p:nth-child(-n+10) {
  border-top: 0.14em solid #000000;
}

/* ---------fin lineas 3x3 marcadas ------------- */





section[data-type=botonera] {
  display: none;
}

/* botonera para dispositvos moviles*/
@media all and (max-width: 1024px) {

  section[data-type=botonera] {
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  
  section[data-type=botonera] h3 {
      width: 100%;
      text-align: center;
  }
  
  section[data-type=botonera] button {
      width: calc(15% - 1em);
      height: 4em;
      text-align: center;
      background-color: #000;
      color: #FFF;
  }

/*  */
  main {
    /* ajusto el tamaño en pantallas pequeñas*/
    width: 90vw;
    min-height: 90vw;
  }


}