/*datos personales Alicia Fernández Pushkina y UO275727*/

/*especificidad (0,0,1) */
main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0;
  /* border-width: 0.15em; */
  /* border-style: solid; */
  border-color: black;
  width: 50vw;
  height: 70vh;
  /* padding-left: 3%; */
  margin-left: 25%;
}


/*especificidad (0,0,1) 
p {
  padding: 1em;
  margin: 0;
  text-align: center;
  border: 0.063em solid rgb(152, 130, 177);
}
*/

/*especificidad (0,0,1) */
p {
  /* padding: 2em; */
  margin: 0;
  /* margin-left: 20%; */
  text-align: center;
  /* border-color: #330F61; */
  /* color: blanchedalmond; */
  border-style: solid;
  border-width: thin;
  /* border: 0.063em solid; */
}

/*especificidad (0,1,1) */
p[data-state="blocked"] {
  font-weight: bold;
  background-color: #f2eef8;
}

/*especificidad (0,0,1) */
h3 {
  grid-column: 1 / -1;
  text-align: center;
}